:root {
  --head-font-size: 4vh;
  --head-height: 6vh;
  --time-font-size: 40vw;
  --time-size: 48vw;
}
* {
  padding: 0;
  margin: 0;
}
html,
body {
  background-color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  width: 100vw;
  height: 100.2vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top {
  display: flex;
  width: 100vw;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: var(--head-font-size);
  line-height: var(--head-font-size);
  flex-wrap: wrap;
  padding-top: 2vh;
}

.date-info{
  display: flex;
  flex-wrap: nowrap;
  font-size: var(--head-font-size);
  line-height: var(--head-font-size);
}

.forecast-info {
  font-size: 3vh;
  padding: 0 2vh 0 2vh;
  text-align: center;
}

.bg {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.line-row {
  height: 1px;
  background: #fff;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  overflow: hidden;
}

.page {
  display: flex;
  width: var(--time-size);
  height: var(--time-size);
  background-color: #222;
  border-radius: 10%;
  margin: auto;
}

.time {
  width: 100%;
  color: #fff;
  font-size: var(--time-font-size);
  line-height: var(--time-size);
  text-align: center;
  padding: 0;
  font-weight: bold;
}

.time-line {
  position: absolute;
  background-color: #000;
  width: 100vw;
  height: 1vh;
}

.second {
  display: flex;
  position: absolute;
  color: #fff;
  right: 5vh;
  top: 20vh;
  border-radius: 20%;
  border: 1px solid #999;
  padding: 3px;
  width: 3vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: turn-page 1000ms;
}

@keyframes turn-page {
  0% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
}

@keyframes turn-page1 {
  0% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}

@keyframes turn-page2 {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
}