:root {
  --heah-font-size: 4vh;
  --heah-height: 5vh;
  --bottom-height: 8vh;
}

html,
body {
  background-color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  width: 100%;
  height: 101%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.top {
  display: flex;
  width: 100%;
  height: var(--heah-height);
  /* border-bottom: 0.5px solid #fff; */
  color: #fff;
  align-items: center;
  font-size: var(--heah-font-size);
  line-height: var(--heah-font-size);
}

.bg {
  display: flex;
  width: 100%;
  height: 84vh;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  width: 100%;
  height: 4vw;
}

.line-row {
  height: 1px;
  background: #fff;
  -webkit-transform: scaleY(0.5);
  -webkit-transform-origin: 0 0;
  overflow: hidden;
}

.line-column {
  width: 1px;
  height: 100%;
  background: #fff;
  -webkit-transform: scaleX(0.5);
  -webkit-transform-origin: 0 0;
  overflow: hidden;
}

.page {
  display: flex;
  width: 46vw;
  height: 46vw;
  background-color: #222;
  border-radius: 10%;
  margin: auto;
}

.time {
  width: 100%;
  color: #fff;
  font-size: 38vw;
  line-height: 46vw;
  text-align: center;
  padding: 0;
  font-weight: bold;
}

.time-line {
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 1vh;
}

.second {
  display: flex;
  position: absolute;
  color: #fff;
  right: 5vh;
  top: 20vh;
  border-radius: 20%;
  border: 1px solid #999;
  padding: 3px;
  width: 3vh;
  height: 3vh;
  line-height: 3vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  animation: turn-page 1000ms;
}

#second-line {
  position: absolute;
  background-color: #999;
  width: 100%;
  height: 1px;
}

#ganmao {
  font-size: 2.5vh;
  padding: 2.5vh;
}

.forecast {
  /* width: 20%; */
  /* height: 100%; */
  color: #fff;
  font-size: 2.5vh;
  padding: 2.5vh;
  text-align: center;
}

@keyframes turn-page {
  0% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
}

@keyframes turn-page1 {
  0% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
}

@keyframes turn-page2 {
  0% {
    transform: rotate3d(1, 0, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 90deg);
  }
}